.header {
  background-color: $white;
  box-shadow: $box-shadow-medium;
  display: flex;
  flex-direction: row;
  min-height: $spacing-medium-60;
  padding: 0 $spacing-little-08;
  text-align: center;
}
